@import 'src/app/mixins.scss';

.container {
  padding: 40px 0;
}

.title {
  font-size: 40px;
}

.empty {
  width: 500px;
  font-size: 24px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #334155;
  border-radius: 8px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between
}

.button {
  @include button;

  background-color: #1d4ed8;

  &:hover {
    background-color: #2563eb;
  }
}

.carousel {
  min-height: 500px;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.counter {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0;
}