@import 'src/app/mixins.scss';

.container {
  margin-top: 20px;
}

.button {
  @include button;

  margin-top: 15px;
  background-color: #1d4ed8;
  
  &:hover {
  background-color: #2563eb;
}


}

.decks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 726px) { 
  .container {
    padding: 24px
  }

  .button {
    margin: 10px 0;
    width: 100%;
    font-size: 32px;
    height: 100px;
  }

  .decks {
    gap: 24px
  }


}