@mixin input {
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 14px;
    color: #111827;
    background-color: #F9FAFB;
    height: 40px;
  
    &:focus {
      outline: none;
    }
}