@mixin input {
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 14px;
    color: #111827;
    background-color: #F9FAFB;
    height: 40px;
  
    &:focus {
      outline: none;
    }
}

@mixin button {
  border-radius: 4px;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: #475569;

  &:hover {
    background-color: #64748b;
    transition: 0.3s;
  }
}