@import 'src/app/mixins.scss';

.wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  span {
    background-color: transparent;
  }
}

.input {
  @include input
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: #334155;
  border-radius: 8px;
  margin-top: 30px;
}

.input_pair {
  display: flex;
  gap: 16px;
  background-color: transparent;
  align-items: end;

  svg {
    background-color: transparent;
  }
}

.add_button {
  @include button;

}

.submit {
  @include button;
  
  background-color: #1d4ed8;

  &:hover {
    background-color: #2563eb;
  }
}